*, ::before, ::after
    margin: 0
    padding: 0
    box-sizing: border-box

html
    font-size: 62.5%
    background: $site-background-color

ul
    list-style-type: none

a
    text-decoration: none

.container
    display: grid
    grid-template-rows: repeat(3, min-content)
    grid-template-columns: 10% repeat(2, 40%) 10%