.product-card
    display: flex
    border: 1px solid $cards-border-color
    border-radius: 8px
.btn-text-wrapper
    display: grid
    grid-template-rows: 10rem repeat(2, min-content)
    padding: 3rem
    gap: 1rem
    &__icon-wrapper
        display: flex
        align-items: center
    &__icon
        height: 1.5rem
        width: 1.5rem
        margin-right: 1rem