.nav-menu
    grid-column: 2 / 3
    &__list
        display: flex
        justify-content: space-between
        width: 100%
    &__link
        text-transform: uppercase
        color: $site-main-color
        &:hover
            color: $hover-color